.btn {
    height: 3rem;
    background: #1F2729;
    color: var(--white);

    border-radius: 3rem;
    border: 0;
    padding: 1rem 2rem;
    
    display: flex;
    align-items: center;

    font-weight: 700;

    svg {
        width: 20px;
        height: 20px;
    }

    svg:first-child{
        margin-right: 0.75rem;
    }

    svg.closeIcon {
        margin-left: 1rem;
    }


    transition: filter 0.2s;

    &:hover {
       filter: brightness(0.8);
    }
}